#main-header { 
    background-color: #f1f1f1; /* new background */
    padding: 20px;
    text-align: center; 
}

.first {
    color: green;
}

/*
h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/